.container{
font-size: 26px;
border: 1px solid red;
background-color: black;
color: white;




}
.container{
color: aqua;
background-color: brown;



}
.row{
border: 2px solid red;
font-size: 20px;


}
.col{


}