*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
/*  NAVBAR  */
.navbar{
display: flex;
justify-content: space-between;
align-items: center;
background: brown;
padding: 10px  30px;

}
.logo img{
width: 100px;
border-radius: 50%;


}
.nav-links{

gap: 50px;


}





.nav-links a{
color: white;
text-decoration: none;
font-size: 20px;

}
.nav-links a:hover{
color: forestgreen;

}
/* HERO IMAGE */
.hero img {
width: 100%;
height: 360px;

}
/*  footer  */
.footer{
background-color: aqua;
color: black;
text-align: center;
padding: 15px;

}